// Home.scss

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

    .titleContainer {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;


        .inputButton {
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }

        

    }
}